*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    scrollbar-color: #4a5568 #edf2f7;
    
}
h2{
    font-size:13px;
    font-weight: 900;
}
p{
    font-size: 12px;
}

.notification{
    height: 50px;
    justify-content: center;
    align-items: center;
    color:white;
    background: rgb(136, 3, 3);
    display: flex;
    button{
        margin-left: 20px;
        height: 40px;
        width: 80px;
        color: white;
        background-color: rgb(30, 183, 235);
        border-radius:5px ;
        border: none;
        font-weight: 900;
        
    
    }

}
.all-content{
    display: flex;
    height: 300vh;
    width: 100%;

    flex-direction: column;
    align-items: center;
}
.content{
    position: relative;

    width: 1000px;
    height: 400vh;
}
.page-content{
    margin-top: 100px;
    height:250vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center ;
    background: rgb(255, 255, 255);
    
}
body .box:nth-child(1){
   animation: vanish s forwards linear ;
}
body .box:nth-child(2){
    animation: display 10s forwards linear ;
}

.top-content{
    top: 75px;
    transition: linear;
    transform: linear;
    height: 50px;
    position: fixed;
    background-color: rgba(136, 136, 136, 0.215);
    width: 1000px;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
  
}
.head_text{
    font-weight: 900;
    font-size: 20px;
    color: white;
    -webkit-text-stroke: 1px #4a5568;

}


.talk_animation div{
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
   

    left: 320px;
    margin-top: 15px;
    animation: move infinite 2s;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

@keyframes move {
    0%{transform: translate(0);}
    50%{transform: translateY(-10px);}
    
}
.talk_animation
.talk_animation :nth-child(1){
    
    height: 30px;
    width: 30px;
  
}
.talk_animation :nth-child(2){
    height: 50px;
    width: 50px;  
    margin-top: 40px;
    left: 300px;
}
.talk_animation :nth-child(3){
    
    margin-top: 60px;
    left: 280px;
}
.talk_animation :nth-child(4){
   
    margin-top: 80px;
    left: 250px;
}
.talk_animation :nth-child(5){
  
    margin-top: 100px;
    left: 230px;
}
.talk_animation :nth-child(6){
   
    margin-top: 120px;
    left: 200px;

}
.talk_animation :nth-child(7){
   
    margin-top: 140px;
    left: 180px;
}
.talk_animation :nth-child(8){
    margin-top: 170px;
    left: 150px;
}
.talk_animation :nth-child(9){
   
    margin-top: 190px;
    left: 120px;

}
.talk_animation :nth-child(10){
   
    margin-top: 200px;
    left: 100px;
}
.talk_animation :nth-child(11){
    margin-top: 230px;
    left: 80px;
    height: 70px;
    width: 70px;
}
#hire{
    height: 50px;
    width: 200px;
    background: rgb(30, 199, 255);
    color: white;
    margin-top: 10px;
    border: none;
    font-weight: 900;
    animation: type 2s infinite linear;
    background: hsla(179, 98%, 48%, 0.765);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(255,255,255, 0.19);
    border: 1px solid rgb(255, 255, 255, 0.5);
    border-radius: 10px;


}


@keyframes type {
    from{width: 100px;}
    to{width: 200px;}
    
}
/*
@keyframes wave {
    0%{opacity: 0.2;}
    50%{}
    
}*/
.Developer_details{
    
    height: 250px;
    background: hsla(0, 0%, 53%, 0.2);
    width: 500px;
    font-weight:600 ;
    box-shadow: 0 4px 30px rgba(255,255,255, 0.19);
    /*-webkit-backdrop-filter: blur(5px);*/
    border: 1px solid rgba(255,255,255,0.3);
    /*backdrop-filter: blur(5px);*/
    color: #535355;
    display: flex;
    align-items: center;
    margin-left: -400px;
    justify-content: center;
    border-radius:  10px;
    flex-direction: column;
    p{
        font-size: 17px;
        /*-webkit-text-stroke: 1px rgb(93, 95, 96);*/
    }
}
.top_contents{
    display: flex;
    width: 500px;
    justify-content: space-around;
    text-decoration: underline;
    text-decoration-color: rgb(255, 255, 255);
    font-weight:600 ;
    text-underline-offset: 25px;
    text-decoration-thickness: 4px;
    a{
        text-decoration: none
    }



}
li{
    display: flex;
    align-items: center;
    height: 70px;
    width: 100px;
    justify-content: center;
    background-color: rgb(78, 51, 51);
    border-radius: 10px;
    color: white;
}
.top_contents :nth-child(4){
    background: rgb(196, 114, 7);
    color: white;
}
.name{
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background: linear-gradient(to right, hsla(203, 87%, 50%, 0.2) ,rgb(3, 2, 40));
    right: 0;
    color: white;
    
}
.box{
    border-radius: 10px;
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
    
    
    .img{
        height: 400px;
        width: 600px;
        
    }
    .img2{
        height: 400px;
        width: 300px;
    }
    img{
        height: 100%;
        width: 100%;
    }
}
@keyframes vanish {
    0% {
        transform: translate(0);
        opacity: 1;
    }
    100% {transform: translate(-50%);
    opacity: 0; display: none;}
    
}
@keyframes displayi {
    0%{display: none;}
    100%{display: flex;}    
}




@media screen and (max-width:768px) {
    .notification{
        font-size: 11px;

    }
    .content{
        width: 100%;
    }
    .top-content{
        width: 100%;
        font-size: 10px;
        
    }
    li{
        width: 70px;
        p{
            font-size: 10px;
        }
        
    }
    .top_contents{
        width: 300px;
    }
    .head_text{
        font-size: 15px;
        
    }
    .page-content{
        width: 100%;
    }
    .box{
        width: 100%;
        height: 330px;
        
        .img{
        height: 320px;
        }
    }
    .Developer_details{
        margin-left: 0;
        text-align: center;
        width: 100%;
    }

}

.skills{
    margin-left: -110px;
}
.cont-1{
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsla(0, 0%, 53%, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(255,255,255, 0.19);
    border: 1px solid rgb(255, 255, 255, 0.5);
    margin-top: 2px;
    border-radius: 10px;
    margin-bottom: 2px;
    width: 200px;
    height: 30px;
    img{
        width: 35px;
        height: 35px;
        object-fit: contain;

    }
}
.text{
    text-align: center;
    font-size: 15px;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
   
}
.container{
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 10px;
    display: flex;
    
    justify-content: flex-end;
}
.Tecnologies{
    
    border-radius: 10px;
    backdrop-filter: blur(5px);
    /*border: 1px white solid ;*/
    background-color: rgba(255, 255, 255, 0.1);
    height: 250px;
    width: 50%;
    display: flex;
    align-items: center;
    position: absolute;
    top:20px;
    margin-right: 50px;
    
}
.Container-background{
    background-color: #5500ff96;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    
}