*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    scrollbar-color: #4a5568 #edf2f7;
    
}
h2{
    font-size:13px;
    font-weight: 900;
}
p{
    font-size: 12px;
}

.notification{
    height: 50px;
    justify-content: center;
    align-items: center;
    color:white;
    background: rgb(136, 3, 3);
    display: flex;
    button{
        margin-left: 20px;
        height: 40px;
        width: 80px;
        color: white;
        background-color: rgb(30, 183, 235);
        border-radius:5px ;
        border: none;
        font-weight: 900;
        
    
    }

}
.all-content{
    display: flex;
    height: 300vh;
    width: 100%;

    flex-direction: column;
    align-items: center;
}
.content{
    position: relative;

    width: 100%;
    height: 400vh;
}
.page-content{
    margin-top: 100px;
    height:250vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center ;
    background: rgb(255, 255, 255);
    
}
body .box:nth-child(1){
   animation: vanish s forwards linear ;
}
body .box:nth-child(2){
    animation: display 10s forwards linear ;
}

.top-content{
    top: 75px;
    transition: linear;
    transform: linear;
    height: 70px;
    position: fixed;
    background-color: rgba(253, 253, 253, 0.7);
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px;
  
}
.head_text{
    font-weight: 900;
    font-size: 30px;
    color: white;
    -webkit-text-stroke: 1px black;

}
.talk_animation{

    height: 100%;
    
    width: 150px;
    position: absolute;
    left: 1px;
    
}

.talk_animation div{
    display: flex;
    align-items:center ;
    height: 20px;
    width: 20px;
    border-radius: 50%;
   

    
    margin-top: 15px;
    animation: move infinite 2s;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

@keyframes move {
    0%{transform: translate(0);}
    50%{transform: translateY(-10px);}
    
}

#hire{
    height: 50px;
    width: 200px;
    background: rgb(30, 199, 255);
    color: white;
    margin-top: 10px;
    border: none;
    font-weight: 900;
    animation: type 2s infinite linear;
    background: hsla(179, 98%, 48%, 0.765);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(255,255,255, 0.19);
    border: 1px solid rgb(255, 255, 255, 0.5);
    border-radius: 10px;


}


@keyframes type {
    from{width: 100px;}
    to{width: 200px;}
    
}
/*
@keyframes wave {
    0%{opacity: 0.2;}
    50%{}
    
}*/
.Developer_details{
    
    height: 250px;
    
    width: 80%;
    font-weight:600 ;
    box-shadow: 0 4px 30px rgba(255,255,255, 0.19);
    /*-webkit-backdrop-filter: blur(5px);*/
    border: 1px solid rgba(255,255,255,0.3);
    /*backdrop-filter: blur(5px);*/
    color: #535355;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:  10px;
    flex-direction: column;
    p{
        font-size: 20px;
        
        /*-webkit-text-stroke: 1px rgb(93, 95, 96);*/
    }
    #type{
        color: rgb(36, 104, 144);

    }
}
.top_contents{
    
    display: flex;
    z-index: 1;
    width: 500px;
    justify-content: space-around;
    text-decoration: underline;
    text-decoration-color: rgb(255, 255, 255);
    font-weight:600 ;
    text-underline-offset: 25px;
    text-decoration-thickness: 4px;
    a{
        text-decoration: none
    }



}
li{
    display: flex;
    align-items: center;
    height: 70px;
    width: 100px;
    justify-content: center;
    background-color: rgb(78, 51, 51);
    border-radius: 10px;
    color: white;
}
.top_contents :nth-child(4){
    background: rgb(196, 114, 7);
    color: white;
}
.name{
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background: linear-gradient(to right, hsla(203, 87%, 50%, 0.2) ,rgb(3, 2, 40));
    right: 0;
    color: white;
    
}

.top-show{
    display: flex;
    height: 90%;
    width: 100%;
    position: relative;
}
.top-show-box{
    display: flex;
    align-items:center ;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 50%;
    z-index: 0;
    background: linear-gradient(to right,rgba(2, 54, 63, 0.98), rgba(108, 9, 9, 0.9));
    p{
        color: rgb(255, 255, 255);
        font-size: 200%;
        font-weight: 900;
        text-align: center;

    }
}

.top-show-box-2{
    display: flex;
    align-items:center ;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 50%;
    z-index: 0;
    background: linear-gradient(to right, rgb(255, 255, 255, 0.3),rgba(2, 54, 63, 0.98));
    p{
        color: white;
        font-weight: 900;
    }
}

.top-show-background{
    width: 60%;
    right: 0;
    height: 100%;
    position: absolute;
    z-index: 0;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.shedule-box{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    button{
        color: white;
        background: orangered;
        border-radius: 40px;
        border: none;
        width: 50%;
        font-weight: 900;
        height: 50px;
        animation: bounce 2s infinite linear;
    }

}
@keyframes bounce {
    from{background-color:red}
    to {background-color: orangered;}
    
}
.head_text-2{
    font-weight: 900;
    border-radius: 10px;
    background: linear-gradient(to left, white, rgba(255, 255, 255, 0.185));
    width: 170px;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;

}
.shedule-box-2{
    button{
        color: white;
        background: green;
        border-radius: 40px;
        border: none;
        width: 150px;
        font-weight: 900;
        height: 50px;
    }
}


.box{
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    border-radius: 10px;
    width: 80%;
    min-height: 400px;
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
    
    
    .img{
        height: 400px;
        width: 600px;
        
    }
    .img2{
        height: 400px;
        width: 300px;
    }
    img{
        height: 100%;
        width: 100%;
    }
}
@keyframes vanish {
    0% {
        transform: translate(0);
        opacity: 1;
    }
    100% {transform: translate(-50%);
    opacity: 0; display: none;}
    
}
@keyframes displayi {
    0%{display: none;}
    100%{display: flex;}    
}


.skills{
    margin-left: -110px;
}
.cont-1{
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsla(0, 0%, 53%, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(255,255,255, 0.19);
    border: 1px solid rgb(255, 255, 255, 0.5);
    margin-top: 2px;
    border-radius: 10px;
    margin-bottom: 2px;
    width: 200px;
    height: 30px;
    img{
        width: 35px;
        height: 35px;
        object-fit: contain;

    }
}
.text{
    text-align: center;
    font-size: 13px;
    font-weight: 900;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
   
}
.container{
    position: relative;
    width: 90%;
    
    height: 400px;
    margin-top: 10px;
    display: flex;
    
    justify-content: flex-end;
}
.Tecnologies{
    justify-content: center;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    /*border: 1px white solid ;*/
    background-color: rgba(0, 195, 255, 0.1);
    height: 250px;
    width:60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:20px;
    margin-right: 10px;
    
}

.Container-background{
    background-color: #5500ff96;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    
}
.services p {
    color: white;
    /*background-color: rgb(255, 255, 255, 0.1);*/
    margin-top: 5px;
    font-weight: 200;
    text-align: center;
    
}
.top-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 40px;
    li{
        background-color: transparent;
        height: 50%;
        width: 20%;
        background-color: #4a556851;
        border-radius: 5px;
    }
}
.boxs{
    font-weight: 900;
    color: white;
    border-radius: 10px;
    width: 80%;
    height:20%;
    /*background-color: rgb(255, 255, 255, 0.1);*/
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.boxs1{
    height: 50%;
    width: 20%;
    background-color: rgb(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 900;
    color: white;
}
.outline-bnox{
    background-color: whitesmoke;
    height: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.heading-text{
    font-size: 15px;
    font-weight: 900;
    color: rgb(10, 168, 186);
}
.our-recent{
    height:200px ;
    width: 80%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.projects-box{
    display: flex;
    align-items:center ;
    height: 80%;
    justify-content: center;
    width: 80%;
    border: 1px solid whitesmoke;
    a{
        width: 20%;
        height: 10%;
    } 
    img{
        width: 100%;
        height: 80%;
        object-fit: contain;
    }
}


@media screen and (max-width:768px) {
    .top-show{
        height: 400px;

    }
    .top-show-box p{
        font-size: 120%;
    }
    
    .top-show-background{
        width: 100%;
        height: 100%;
        img{
            object-fit: cover;
        }
        
    }
    .shedule-box{
        button{
            width: 80%;
        }
    }
    .boxs{
       
    }
    .boxs1{
       
        font-size: 10px;
    }
    .box{
        
        
    }
    .name{
        display: flex;
        width: 45%;
        justify-content: flex-end;
        background: linear-gradient(to right, hsla(0, 0%, 100%, 0.1) ,rgb(3, 2, 40));
        right: 0;
        align-items: flex-end;
    }
    .cont-1{
        width: 80%;
        border: none;
    }
    .top-text{
        
        li{
            font-size: 10px;
        }
    }
    .notification{
        font-size: 11px;

    }
    .content{
        width: 100%;
    }
    .top-content{
        width: 100%;
        font-size: 10px;
        
    }
    li{
        width: 65px;
        p{
            font-size: 10px;
        }
        
    }
    .top_contents{
        width: 280px;
    }
    .head_text{
        font-size: 15px;
        
    }
    .page-content{
        width: 100%;
    }
    .box{
        width: 100%;
        height: 330px;
        
        .img{
        height: 320px;
        }
    }
    .Developer_details{
        margin-left: 0;
        text-align: center;
        width: 100%;
    }

}